H1{
 
 COLOR:BLUE;
 MARGIN-LEFT:100PX;
  }
P{
 FONT-STYLE:ITALIC;
 font-size:30px;
 COLOR:YELLOW;
 }
BODY{
BACKGROUND-IMAGE:URL("/home/Sem6B12/Downloads/Link to ONE.jpg");
BACKGROUND-REPEAT:NO-REPEAT;
BACKGROUND-ATTACHMENT:SCROLL;
}

