H1{
 
 COLOR:BLUE;
 MARGIN-LEFT:100PX;
  }
P{
 FONT-STYLE:ITALIC;
 font-size:30px;
 COLOR:YELLOW;
text-transform:uppercase;
text-shadow:4px 4px 8px blue;
 }
BODY{
BACKGROUND-IMAGE:URL("/home/Sem6B12/Downloads/Link to ONE.jpg");
BACKGROUND-REPEAT:NO-REPEAT;
BACKGROUND-ATTACHMENT:SCROLL;
<img id="image"="/home/Sem6B12/Downloads/Link to 15940-wood-texture-with-borders-1920x1080-abstract-wallpaper.jpg">
}

